<h2>Blogs</h2>

<p id="notice"><%= notice %></p>

<hr>

<div>
    <% @blogs.each do |blog| %>
      <div class="content">
        <p><%= blog.title %></p>
        <p><%= link_to 'Show', blog %></p>
        <p><%= link_to 'Edit', edit_blog_path(blog) %></p>
        <p><%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </tr>
    <% end %>
</divy>

<br>

<%= link_to 'Create a New Blog', new_blog_path %>
